.Header{
    display: flex;
    background-color: blue;
    justify-content: flex-end;
    height: 50px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns button{
    margin: 5px;
}
